terraform2/
certs/
terraform/terraform/
# Local .terraform directories
**/.terraform/*
# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
.terraformrc
terraform.rc